
.wrapper {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

/* .name {}

.balance {} */

/* Recent Transactions */

.transaction_wrapper {
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.transaction {
  border: 1px solid black;

  display: flex;
  gap: 15px;
}

/* .amount {}

.description {} */