.sidebar_wrapper {

}

.header {
  display: flex;
  justify-content: start;

  min-height: 40px;
  height: 100%;
  background-color: #011627;
  padding: 10px 15px;
}


.header svg {
  font-size: 35px;
  color: #eaecef;
}