.wrapper {
  display: flex;
  flex-direction: column;
  
  &.large{ 
    max-width: 400px;
    width: 100%;
  }
}

.wrapper label {
  font-size: 20px;
}

.input {
  font-size: 0.75rem;
  padding: 10px;
  border-radius: 6px;
  background: #fbfbfb;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.input:focus{
    border: 2px solid #000;
    border-radius: 4px;
}